<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeadCounter_Client_Win.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HeadCounter_Client_Win.My.MySettings>
            <setting name="type" serializeAs="String">
                <value>Bowl</value>
            </setting>
            <setting name="unit_default" serializeAs="String">
                <value>0.4123</value>
            </setting>
            <setting name="country_chk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="country_txt" serializeAs="String">
                <value />
            </setting>
            <setting name="state_chk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="state_txt" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="postal_chk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="postal_txt" serializeAs="String">
                <value>23344</value>
            </setting>
            <setting name="location_chk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="metric" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="location_txt" serializeAs="String">
                <value />
            </setting>
            <setting name="smokekey" serializeAs="String">
                <value>CTRL+F12</value>
            </setting>
        </HeadCounter_Client_Win.My.MySettings>
    </userSettings>
</configuration>